<%= form_for :state, url: update_states_admin_retail_index_path do |st| %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            Методы доставки
          </h1>
        </div>
        <div class="panel-body">
          <%= st.fields_for :delivery_method do |p|%>
            <% Spree::ShippingMethod.all.each do |delivery_method| %>
              <div class="form-group">
                <%= p.label delivery_method.id, delivery_method.name %>
                <%= p.select delivery_method.id, options_for_select(@delivery_types, Spree::Config[:delivery_method] && Spree::Config[:delivery_method][delivery_method.id.to_s]), {include_blank: true}, class: 'form-control' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col-md-4" data-hook="buttons">
      <button name="button" type="submit" class="btn btn-primary "><span class="icon icon-save"></span> Изменить</button>
    </div>
  </div>    
<% end %>