<%= form_for :state, url: update_states_admin_retail_index_path do |st| %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">
            Методы оплаты
          </h1>
        </div>
        <div class="panel-body">
          <%= st.fields_for :payment_method do |p|%>
            <% Spree::PaymentMethod.all.each do |payment_method| %>
              <div class="form-group">
                <%= p.label payment_method.id, payment_method.name %>
                <%= p.select payment_method.id, options_for_select(@payment_types, Spree::Config[:payment_method] && Spree::Config[:payment_method][payment_method.id.to_s]), {include_blank: true}, class: 'form-control' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-actions col-md-4" data-hook="buttons">
      <button name="button" type="submit" class="btn btn-primary "><span class="icon icon-save"></span> Изменить</button>
    </div>
  </div>    
<% end %>